// #ccard {
//     // display: flex;
//     padding: 24px;
//     background-color: #ffffff;
//     border-radius: 8px;
// }

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  flex-wrap: wrap;
  min-width: 180px;
}

.search-field {
  flex: 1;
  min-width: 300px;
}

.search-field .mat-mdc-form-field {
  width: 100%;
}

button {
  background-color: #2d9b45 !important;
  color: white !important;
  padding: 8px 40px;
  width: auto;
  font-size: 12px;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
  margin: 12px auto;
  cursor: pointer;
}

button:hover {
  background-color: #ff3b00 !important;
  color: white !important;
}

button[color="accent"] {
  background-color: #ff4081 !important;
  margin: 0;
}

button[color="accent"]:hover {
  background-color: #e91e63 !important;
}

a {
  color: #1135f5;
  font-weight: 500;
}

.tachado {
  text-decoration: line-through;
  color: gray;
}

@media (max-width: 768px) {
  .header-actions {
    flex-direction: column;
    align-items: stretch;
  }
  
  .search-field {
    min-width: unset;
  }
}