<div class="container-fluid">
    <div class="form-container">

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)">
            <div class="cheader full-width">
                <div class="logo-container full-width">
                    <img src="../../../assets/logoentel.png" alt="Logo">
                </div>
                <div class="htitle">
                    <h3 class="barlow-medium">Formulario de registro</h3>
                </div>
            </div>

            <ng-container *ngIf="!formStatus">

                <div class="form-row full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="firstName" placeholder="Ingresa tus nombres">
                        <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">Campo
                            requerido.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="lastName" placeholder="Ingresa tus apellidos">
                        <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Campo
                            requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>RUT</mat-label>
                        <input matInput formControlName="rut" placeholder="Ej: 12345678-9">
                        <mat-error *ngIf="registrationForm.get('rut')?.hasError('required')">RUT es
                            requerido</mat-error>
                        <mat-error *ngIf="registrationForm.get('rut')?.hasError('pattern')">Rut con formato
                            invalido.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <span matTextPrefix class="matTextPrefix">+569 </span>
                        <input matInput formControlName="phone" placeholder="12345678" maxlength="8">
                        <mat-error *ngIf="registrationForm.get('phone')?.hasError('required')">El número de teléfono es
                            obligatorio.</mat-error>
                        <mat-error *ngIf="registrationForm.get('phone')?.hasError('pattern')">El número de teléfono debe
                            tener exactamente 8 dígitos.</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row full-width">
                    <!-- <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address" id="autocomplete" placeholder="Ingresa tu dirección">
                        <mat-error *ngIf="registrationForm.get('address')?.hasError('required')">Campo
                            requerido.</mat-error>
                    </mat-form-field> -->
                    <app-txtgplaces (selectedPlace)="onChangePlace($event)"></app-txtgplaces>
                </div>

                <div class="button-container full-width">
                    <button mat-raised-button type="submit" [disabled]="!registrationForm.valid && buttonStatus"
                        color="primary">Guardar</button>
                </div>

            </ng-container>

            <ng-container *ngIf="formStatus">
                <div class="confirmation-container full-width">
                    <div class="confirmation-content">
                        <img src="assets/check_ok_icon.svg" alt="Confirmación">
                        <!-- Reemplaza con la ruta a tu imagen -->
                        <h2>¡Formulario guardado!</h2>
                        <div class="code-display">
                            <h3>Tu código de participación:</h3>
                            <div class="code-number">{{generatedCode}}</div>
                        </div>
                        <p>Con este código puedes participar en el concurso. <br><br>¡Guarda tu código en un lugar seguro!</p>
                    </div>
                </div>
            </ng-container>

        </form>
    </div>
</div>