<div class="container-fluid">
    <div class="form-container">

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)">
            <div class="cheader full-width">
                <div class="logo-container full-width">
                    <img src="../../../assets/logoentel.png" alt="Logo">
                </div>
                <div class="htitle">
                    <h3 class="barlow-medium">Formulario de registro</h3>
                </div>
            </div>

            <ng-container *ngIf="!formStatus">

                <div class="form-row full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="firstName" placeholder="Ingresa tu nombre">
                        <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">Campo
                            requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="lastName" placeholder="Ingresa tu apellido">
                        <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Campo
                            requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phone" placeholder="Ingresa tu teléfono">
                        <mat-error *ngIf="registrationForm.get('phone')?.hasError('required')">El teléfono es
                            obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Mail</mat-label>
                        <input matInput formControlName="mail" type="email" placeholder="correo@ejemplo.com">
                        <mat-error *ngIf="registrationForm.get('mail')?.hasError('required')">El correo es
                            obligatorio</mat-error>
                        <mat-error *ngIf="registrationForm.get('mail')?.hasError('email')">Correo inválido</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row full-width">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Empresa</mat-label>
                        <input matInput formControlName="empresa" placeholder="Ingresa tu empresa">
                        <mat-error *ngIf="registrationForm.get('empresa')?.hasError('required')">Campo
                            requerido</mat-error>
                    </mat-form-field>
                </div>

                <div class="button-container full-width">
                    <button mat-raised-button type="submit" [disabled]="!registrationForm.valid || isLoading"
                        color="primary">
                        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                        <span *ngIf="!isLoading">Guardar</span>
                        <span *ngIf="isLoading">Validando...</span>
                    </button>
                </div>

            </ng-container>

            <ng-container *ngIf="formStatus">
                <div class="confirmation-container full-width">
                    <div class="confirmation-content">
                        <img src="assets/check_ok_icon.svg" alt="Confirmación">
                        <!-- Reemplaza con la ruta a tu imagen -->
                        <h2>¡Formulario guardado!</h2>
                        <div class="code-display">
                            <h3>Tu código de participación:</h3>
                            <div class="code-number">{{generatedCode}}</div>
                        </div>
                        <p>Con este código puedes participar en el concurso. <br><br>¡Guarda tu código en un lugar seguro!</p>
                    </div>
                </div>
            </ng-container>

        </form>
    </div>
</div>