<div class="container-fluid">
    <div class="form-container">
        <form>
            <div class="full-width">
                <h2>Quemar Tickets</h2>
            </div>
            <!-- Fila de formulario -->
            <div class="form-row full-width">
                <mat-form-field appearance="fill">
                    <mat-label>Código del Ticket</mat-label>
                    <input matInput placeholder="Ingresa el código del ticket" required>
                </mat-form-field>
            </div>

            <!-- Botón de enviar -->
            <div class="button-container full-width">
                <button mat-raised-button color="primary">Quemar Ticket</button>
            </div>
        </form>
    </div>
</div>